nav {
    grid-area: nav;
    background-color: lightgrey;
    width: 100%;

    margin-right: 30px;
    display: flex;
    justify-content: flex-end;
}



nav a {
    display: block;
    margin-right: 30px;
    margin-top: 3vh;
    height: 20px;
    border-radius: 30px;
    width: 50px;
    background-color: red;
    text-align: center;
    text-decoration: none;
    color: white;
}

.desktop-links {
    margin-top: 4vh;
}

.desktop-links li {
    display: inline-block;
}

#navbar {
    display: none;
}

#hamburger {
    display: none;
}

.clicked {
    background-color: darkred;
}

.cons {
    text-align: center;
    margin-right: 30px;
    margin-left: 30px;
    grid-area: cons;
    background-color: blue;

}

.cons ul {
    text-align: left;
    margin: 20px;

}

.pros {
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-left: 30px;
    grid-area: pros;
    background-color: purple;

}

.pros ul {
    text-align: left;
    margin: 20px;
}

.references {
    text-align: center;
    grid-area: reference;

    background-color: grey;
}

footer {
    grid-area: footer;
    background-color: green;
    height: 20vh;
}

footer p {
    text-align: center;
    margin: 20px;
}

body {
    gap: 30px;
    display: grid;
    grid-template-areas:

        "nav nav nav nav nav nav"
        "pros pros pros cons cons cons"
        "pros pros pros cons cons cons"
        "reference reference reference reference reference reference"
        "footer footer footer footer footer footer";


}

@media only screen and (max-width:768px) {
    .mobile-links {
        margin-top: 5vh;
    }

    .desktop-links li {
        display: none;
    }

    #navbar {
        margin-top: 2.5vh;
        margin-right: 20px;
        display: inline-block;
    }

    .mobile-links li {

        display: inline-block;
    }



    footer {
        height: 20vh;
    }

    body {
        margin: 0 auto;
        grid-template-areas:

            "nav nav nav nav "
            "pros pros pros pros "
            "cons cons cons cons "
            "reference reference reference reference"
            "footer footer footer footer ";
    }

}

@media only screen and (max-width:300px) {
    .desktop-links li {
        display: none;
    }

    #navbar {
        margin-top: 4vh;
        display: inline-block;
    }

    nav {
        height: 10vh;
    }

    footer {
        height: 10vh;
    }

    body {
        margin: 0 auto;
        grid-template-areas:

            "nav nav nav nav "
            "pros pros pros pros "
            "cons cons cons cons "
            "reference reference reference reference"
            "footer footer footer footer ";
    }

    .references h1 {
        font-size: 20px;
    }

    .references ul {
        flex-wrap: wrap;
    }
}