 img {
     max-width: 100%;
 }


 nav {
     grid-area: nav;
     background-color: navy;
     min-height: 5vh;
     width: 100%;
     position: sticky;
 }

 .links {
     display: inline;
     float: left;
     margin-left: 20px;

 }

 .icon {
     display: none;
 }

 nav a {
     text-decoration: none;
     color: white;
     padding: 5px;
     border-radius: 20px;

 }

 .header {
     grid-area: header;
     text-align: center;
 }

 .introduction {
     grid-area: introduction;
     background-color: lightgray;
     margin: 10px;
     border-radius: 10px;

 }

 .introduction h1 {
     padding: 0.5em;
 }

 .introduction p {
     padding: 0.5em;
 }

 .pros {
     text-align: center;
     grid-area: pros;
     background-color: navy;
     color: white;
     border-radius: 10px;
 }

 #links {
     display: flex;
     justify-content: flex-end;
 }


 .pros li,
 .cons li {
     padding-bottom: 10px;
 }

 .pros,
 .cons {
     margin: 1em;
 }


 .pros ul {
     padding: 20px;
 }

 .references {
     grid-area: references;
     text-align: center;
     background-color: lightgray;
 }


 .cons {
     text-align: center;
     grid-area: cons;
     background-color: navy;
     color: white;
     border-radius: 10px;
 }

 .cons ul {
     padding: 20px;
 }

 footer {
     text-align: center;
     grid-area: footer;
     background-color: navy;
     color: white;
 }

 .grid-container {
     display: grid;
     grid-template-areas:
         'nav nav nav nav nav nav'
         'header header header header header header '
         'introduction introduction introduction introduction introduction introduction'
         'pros pros pros cons cons cons'
         'pros pros pros cons cons cons'
         'pros pros pros cons cons cons'
         'references references references references references references'
         'references references references references references references'
         'footer footer footer footer footer footer';




     margin: auto;
 }

 ul li {
     list-style-type: "-";
 }

 .card-1 {
     background-color: navy;
     color: white;
     margin: 20px;
     border: 2px solid navy;
     border-radius: 30px;

     grid-area: card1;
 }

 .digitization {

     margin: 20px;
     grid-area: image-1;

 }

 .digitization img {
     border-radius: 10px;
 }

 .card-1 p,
 .card-1 h1,
 .card-2 p,
 .card-2 h1 {
     margin: 20px;
 }

 .card-2 {
     color: white;
     background-color: navy;
     text-align: center;
     margin: 20px;
     grid-column: 3/6;
     border: 2px solid navy;
     border-radius: 30px;

     grid-area: card2;
 }

 .grid-container-index {
     display: grid;
     grid-template-areas:
         'nav nav nav nav nav nav'
         'header header header header header header'
         'card1 card1 card1 card1 image-1 image-1'
         'card2 card2 card2 card2 card2 card2'
         ' references references references references references references'
         'footer footer footer footer footer footer';

     gap: 20px;
 }

 /* Below are two arbitrary break points. Please adjust to fit your content's needs. You can have more than two breakpoints. You want your site to be usable at ALL viewport widths. */




 /* This media query is only for if the hamburger menu is closed and it  */
 @media only screen and (min-width : 901px) {
     .links {
         display: inline !important
     }
 }

 @media only screen and (max-width : 900px) {

     .links {
         display: none;
     }

     .icon {
         display: flex;
         float: right;
     }



     .grid-container-index {
         display: grid;
         grid-template-areas:
             'nav nav nav nav nav nav'
             'header header header header header header'
             'card1 card1 card1 card1 card1 card1'
             'image-1 image-1 image-1 image-1 image-1 image-1'
             'card2 card2 card2 card2 card2 card2'
             ' references references references references references references'
             'footer footer footer footer footer footer';

         gap: 20px;
     }

     .grid-container {
         display: grid;
         grid-template-areas:
             'nav nav nav nav nav nav'
             'header header header header header header'
             'introduction introduction introduction introduction introduction introduction'
             'pros pros pros pros pros pros'
             'cons cons cons cons cons cons'
             ' references references references references references references'
             'footer footer footer footer footer footer';
         padding: .5em;
     }

     ul li {
         display: inline-block;
     }

     .references ul {
         padding-left: 0px;
     }

 }

 /*SECOND BREAK POINT === mobile  Note: This is an arbitrary break point! Change it to fit your needs. */
 @media only screen and (max-width : 600px) {


     .grid-container {
         display: grid;
         grid-template-areas:
             'nav nav nav nav nav nav'
             'header header header header header header'
             'pros pros pros pros pros pros'
             'cons cons cons cons cons cons'
             ' references references references references references references'
             'footer footer footer footer footer footer';
         padding: .5em;
     }

     ul li {
         display: inline-block;
     }


 }