 img {
     max-width: 100%;
 }

 body {
     background-color: #ADD8E6;
 }

 nav {
     grid-area: nav;
     background-color: navy;
     min-height: 5vh;
     width: 100%;
     position: sticky;
 }

 .links {

     text-align: center;
     display: block;
     float: left;


 }

 .links:hover {
     background-color: lightblue;

     transition-duration: 0.5s;
     color: navy;
 }

 .clicked {
     background-color: lightblue;
     color: navy;
     border-radius: 30px;
 }

 .icon {
     display: none;

 }

 nav a {

     text-decoration: none;
     color: lightblue;
     padding: 5px;
     border-radius: 20px;

 }

 nav p {
     margin: 0;
     text-align: center;
 }

 .header {
     grid-area: header;
     text-align: center;
     color: navy;
 }

 .link {
     display: flex;
     flex-direction: column;
 }

 .introduction {
     grid-area: introduction;
     background-color: navy;
     color: #ADD8E6;
     margin: 0.5em;
     border-radius: 10px;

 }

 .introduction h1 {
     padding: 0.5em;
 }

 .introduction p {
     padding: 0.5em;
 }

 .pros {
     text-align: center;
     grid-area: pros;
     background-color: navy;
     color: lightblue;
     border-radius: 10px;
 }

 #links {
     display: flex;
     justify-content: flex-end;
 }

 .link:hover {
     background-color: lightblue;
     color: navy;
     transition-duration: 0.5s;
     border-radius: 30px;
 }

 .pros li,
 .cons li {
     padding-bottom: 10px;
 }

 .pros,
 .cons {
     margin: 1em;
 }


 .pros ul {
     padding: 20px;
 }

 .references {
     grid-area: references;
     text-align: center;
     background-color: navy;
     color: #ADD8E6;
     border-radius: 10px;
 }


 .cons {
     text-align: center;
     grid-area: cons;
     background-color: navy;
     color: #ADD8E6;
     border-radius: 10px;
 }

 .cons ul {
     padding: 20px;
 }

 footer {
     text-align: center;
     grid-area: footer;
     background-color: navy;
     color: #ADD8E6;
     border-radius: 10px;

 }



 .footer-link {
     color: #ADD8E6;
     margin-top: 10px;
     ;
     text-decoration: none;
 }

 .grid-container {
     padding: 0.5em;
     display: grid;
     grid-template-areas:
         'nav nav nav nav nav nav'
         'header header header header header header '
         'introduction introduction introduction introduction introduction introduction'
         'pros pros pros cons cons cons'
         'pros pros pros cons cons cons'
         'pros pros pros cons cons cons'
         'references references references references references references'
         'references references references references references references'
         'footer footer footer footer footer footer';

     gap: 20px;

     margin: auto;
 }

 .card-3 {
     background-color: navy;
     color: #ADD8E6;
     margin: 20px;
     border: 2px solid navy;
     border-radius: 30px;

     grid-area: card3;
 }

 .image-3 {
     grid-area: profile3;
 }

 .card-4 {
     color: #ADD8E6;
     background-color: navy;
     text-align: center;
     margin: 20px;
     border: 2px solid navy;
     border-radius: 30px;
     grid-area: card4
 }

 .image-4 {
     grid-area: profile4;
 }

 .card-5 {
     color: #ADD8E6;
     background-color: navy;
     margin: 20px;
     border: 2px solid navy;
     border-radius: 30px;
     grid-area: card5;
 }

 .image-5 {
     grid-area: profile5
 }

 .grid-container-about {
     display: grid;
     grid-template-areas:
         'nav nav nav nav nav nav'
         'header header header header header header'
         'card1 card1 card1 card1 card1 profile1'
         'profile2 profile2 profile2 card2 card2 card2'
         'card3 card3 card3 card3 card3 profile3'
         'profile4 profile4 profile4 card4 card4 card4'
         'card5 card5 card5 card5 card5 profile5'
         'footer footer footer footer footer footer';
     gap: 20px;
     padding: 0.5em
 }


 .image-2 {
     grid-area: profile2;


 }

 ul li {
     list-style-type: "-";
 }

 #mobile-links {
     display: none;
     text-align: center;
 }

 .showing {
     display: block !important
 }

 .card-1 {
     background-color: navy;
     color: #ADD8E6;
     margin: 20px;
     border: 2px solid navy;
     border-radius: 30px;

     grid-area: card1;
 }

 .digitization {


     grid-area: image-1;

 }

 .image-1 {
     width: 10em;
     grid-area: profile1;
 }


 .profile {
     width: 300px;
     border-radius: 10px;
 }

 .digitization img {
     border-radius: 10px;
 }

 .card-1 p,
 .card-1 h1,
 .card-2 p,
 .card-2 h1,
 .card-3 p,
 .card-3 h1,
 .card-4 p,
 .card-4 h1 .card-5 p,
 .card-5 h1 {
     margin: 20px;
 }

 .card-2 {
     color: #ADD8E6;
     background-color: navy;
     text-align: center;
     margin: 20px;
     border: 2px solid navy;
     border-radius: 30px;

     grid-area: card2;
 }

 .grid-container-index {
     padding: 0.5em;
     display: grid;
     grid-template-areas:
         'nav nav nav nav nav nav'
         'header header header header header header'
         'card1 card1 image1 image1 image-1 image-1'
         'card2 card2 card2 card2 card2 card2'
         ' references references references references references references'
         'footer footer footer footer footer footer';

     gap: 10px;

 }

 /* Below are two arbitrary break points. Please adjust to fit your content's needs. You can have more than two breakpoints. You want your site to be usable at ALL viewport widths. */




 /* This media query is only for if the hamburger menu is closed and it  */
 @media only screen and (min-width : 901px) {
     #mobile-links {
         display: none !important
     }
 }

 @media only screen and (max-width : 900px) {

     .links {
         display: none;
     }

     .icon {
         display: flex;
         float: right;
     }



     .grid-container-index {
         display: grid;
         grid-template-areas:
             'nav nav nav nav nav nav'
             'header header header header header header'
             'card1 card1 card1 card1 card1 card1'
             'image-1 image-1 image-1 image-1 image-1 image-1'
             'card2 card2 card2 card2 card2 card2'
             ' references references references references references references'
             'footer footer footer footer footer footer';

         gap: 20px;
     }

     .grid-container {
         display: grid;
         grid-template-areas:
             'nav nav nav nav nav nav'
             'header header header header header header'
             'introduction introduction introduction introduction introduction introduction'
             'pros pros pros pros pros pros'
             'cons cons cons cons cons cons'
             ' references references references references references references'
             'footer footer footer footer footer footer';
         padding: .5em;
         gap: 20px;
     }

     ul li {
         display: inline-block;
     }

     .references ul {
         padding-left: 0px;
     }

 }

 /*SECOND BREAK POINT === mobile  Note: This is an arbitrary break point! Change it to fit your needs. */
 @media only screen and (max-width : 600px) {


     .grid-container {
         display: grid;
         grid-template-areas:
             'nav nav nav nav nav nav'
             'header header header header header header'
             'introduction introduction introduction introduction introduction introduction'
             'pros pros pros pros pros pros'
             'cons cons cons cons cons cons'
             ' references references references references references references'
             'footer footer footer footer footer footer';

     }

     ul li {
         display: inline-block;
     }


 }